html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.modalInfo {
    position: fixed;
    top: 25%;
    left: 20%;
    width: 60%;
    background-color: rgba(186, 195, 202, 0.75);
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
    padding: 20px;
}

.modalRow {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    padding: 20px;
}

.submitButton {
    width: 25%;
    font-weight: bold;
    color: red;
}

.closeButton {
    width: 25%;
    font-weight: bold;
    color: blue;
}

.selectButton {
    width: 30%;
    font-weight: bold;
    color: green;
}

.selectedFighter {
    border: 1px solid grey;
}

.fighterHealthContainer {
    border: 1px solid black;
}

#fighterOne {
    position: fixed;
    top: 0;
    left: -1000px;
    width: 200px;
    height: 30px;
}

#fighterOneHealth {
    height: 20px;
    background-color: #2aff2d;
    width: 83%;
}

#fighterTwo {
    position: fixed;
    top: 0;
    right: 10000px;
    width: 200px;
    height: 30px;
}

#fighterTwoHealth {
    height: 20px;
    background-color: #2aff2d;
    width: 83%;
}
